/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

body{
    margin: 0;
    background: cornflowerblue;
    display: flex;
    align-items: center;
    height: 100vh;
}

.gameBoard{
    /* border: 1px solid slategray; */
    display: inline-block;
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
}

.color{
    /* border: 1px solid springgreen; */
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left{
    float: left;
}

.righ{
    float: left;
}

.celeste{
    background: #22a6b3;
}

.violeta{
    background: #be2edd;
}

.naranja{
    background: #ffbe76;
}

.verde{
    background: #6adc58;
}

.btn-start{
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5em;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
}

.hide{
    display: none;
}